#info-popup {
	bottom: 65px;
	left: -350px;
	text-align: center;
	width: 275px;

	&.active {
		left: 15px;
	}

	.label-row {
		display: flex;

		.col {
			flex: 1;
			text-align: center;
		}
	}

	.btn-row {
		display: flex;

		+ .label-row {
			margin-top: 10px;
		}

		.info-btn {
			flex: 1;
		}
	}

	p {
		margin-bottom: 25px;
	}

	#made-by {
		font-size: 12px;
		line-height: 1.5;
		margin: 25px 0 5px;

		#heart {
			color: var(--color-red);
			fill: var(--color-red);
			height: 14px;
		    margin: 0 -3px;
		    position: relative;
		    top: 2px;
		}

		a {
			color: var(--color-base);
			padding-bottom: 1px;
			top: 0;

			&:hover {
				border-color: var(--color-base); 
			}
		}
	}
}