#quote-wrapper {
	position: relative;
	transition: padding-top 0.25s ease;
	width: 70%;
	z-index: 1;

	&.top-sites-active {
		padding-top: 10%;
	}

	#quote, #author {
		opacity: 0;
		transition: opacity 0.25s ease;
	}

	#quote {
		color: var(--font-color);
		font-family: var(--quote-font);
		font-size: 3vw;
		font-weight: 900;
		margin-bottom: 30px;
		text-align: var(--text-align);
	}

	#author {
		color: var(--font-color);
		font-family: var(--author-font);
		font-size: 20px;
		text-align: var(--text-align);

		&::before {
			content: '\2014';
			margin-right: 6px;
		}
	}
}

#suggestor {
	margin-left: 10px;
	opacity: 0;
	transition: opacity 0.25s ease;
}