:root {
	--base-font: 'Varela Round', sans-serif;
	--background-color: white;
	--font-color: white;
	--quote-font: 'Playfair Display';
	--author-font: 'Source Sans Pro';
	--text-align: left;

	--color-base: #34495e;
	--color-dark-white: #ecf0f1;
	--color-green: #2ecc71;
	--color-red: #e74c3c;
}